<section class="about">
  <div class="container">
    <div class="about-content">
      <div class="about-text-wrapper">
        <h2 class="about-title">Про Меблерію</h2>
        <p class="about-text">
          У Меблерії ми прагнемо створювати затишок та функціональність у
          кожному домі. Наша місія - пропонувати високоякісні меблі, що
          поєднують у собі сучасний дизайн, довговічність та доступність. Ми
          віримо, що ідеальний інтер'єр починається з правильних меблів.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/about/about-desk.webp    1x,
            ../img/about/about-desk.2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/about/about-tab.webp    1x,
            ../img/about/about-tab.2x.webp 2x
          "
        />
        <img
          src="../img/about/about-mob.webp"
          srcset="../img/about/about-mob.2x.webp 2x"
          alt="Команда дизайнерів"
        />
      </picture>
    </div>
  </div>
</section>
