<section id="feedback" class="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-text">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>
    <span class="loader" data-loader="feedback"></span>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper js-feedback-list"></ul>
      <div class="feedback-nav">
        <div id="feedback-pagination" class="swiper-pagination"></div>
        <div class="swiper-navigation" id="popular-navigation">
          <div class="feedback-button-prev">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="feedback-button-next">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
