<section class="furniture-modal visually-hidden">
  <div class="furniture-modal-container">
    <button class="close-btn" id="modal-close-btn" type="button">
      <svg class="close-btn-icon" width="32" height="32">
        <use href="../img/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="furniture-gallery-modal" id="modal-gallery">
      <img
        class="big-image-sofa"
        src="/img/furniture-modal/big-image-sofa.jpg"
        alt="Sofa Oslo"
      />
      <div class="small-images">
        <img
          class="small-image-sofa"
          src="/img/furniture-modal/small-image-sofa(1).jpg"
          alt="Sofa Oslo"
        />
        <img
          class="small-image-sofa"
          src="/img/furniture-modal/small-image-sofa(2).jpg"
          alt="Sofa Oslo"
        />
      </div>
    </div>

    <div class="content-container">
      <h3 class="furniture-title" id="furniture-name">Софа Oslo</h3>
      <p class="modal-furniture-category" id="furniture-category">Дивани</p>
      <p class="modal-furniture-price" id="furniture-price">9 999 грн</p>
      <div class="rating" id="modal-rating">
        <svg class="star" width="16" height="16">
          <use href="/img/sprite.svg#star"></use>
        </svg>
        <svg class="star" width="16" height="16">
          <use href="/img/sprite.svg#star"></use>
        </svg>
        <svg class="star" width="16" height="16">
          <use href="/img/sprite.svg#star"></use>
        </svg>
        <svg class="star" width="16" height="16">
          <use href="/img/sprite.svg#star"></use>
        </svg>
        <svg class="half-star" width="16" height="16">
          <use href="/img/sprite.svg#half-star"></use>
        </svg>
      </div>
      <p class="furniture-color-text">Колір</p>
      <div class="colors-container" id="furniture-colors">
        <label class="color-option">
          <input type="radio" name="color" value="gray" checked />
          <span class="color-swatch gray"></span>
        </label>
        <label class="color-option">
          <input type="radio" name="color" value="beige" />
          <span class="color-swatch beige"></span>
        </label>
        <label class="color-option">
          <input type="radio" name="color" value="black" />
          <span class="color-swatch black"></span>
        </label>
      </div>
      <p class="modal-furniture-description" id="furniture-description">
        Класичний диван з м'якими подушками та високою спинкою, ідеальний для
        сімейного відпочинку. Оббивка з якісної зносостійкої тканини.
      </p>
      <p class="size-text" id="furniture-size-text">
        Розміри: <span class="size" id="furniture-size">280x180x85</span>
      </p>
      <button class="order-button-modal" id="modal-order-btn" type="submit">
        Перейти до замовлення
      </button>
    </div>
  </div>
</section>
