<section class="furniture-modal visually-hidden">
  <div class="furniture-modal-container">
    <button class="close-btn" id="modal-close-btn" type="button">
      <svg class="close-btn-icon" width="32" height="32">
        <use href="../img/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="furniture-gallery-modal" id="modal-gallery">
      <img class="big-image-sofa" id="main-img" />
      <div class="small-images" id="small-images"></div>
    </div>

    <div class="content-container">
      <h3 class="furniture-title" id="furniture-name"></h3>
      <p class="modal-furniture-category" id="furniture-category"></p>
      <p class="modal-furniture-price" id="furniture-price"></p>
      <div class="rating" id="modal-rating"></div>
      <p class="furniture-color-text">Колір</p>
      <div class="colors-container" id="furniture-colors"></div>
      <p class="modal-furniture-description" id="furniture-description"></p>
      <p class="size-text" id="furniture-size-text">
        Розміри: <span class="size" id="furniture-size"></span>
      </p>
      <button class="order-button-modal" id="modal-order-btn" type="submit">
        Перейти до замовлення
      </button>
    </div>
  </div>
</section>
