<div class="furniture-modal visually-hidden">
  <button class="close-btn" id="modal-close-btn" type="button">
    <svg class="close-btn-icon" width="32" height="32">
      <use href="../img/sprite.svg#close"></use>
    </svg>
  </button>

  <div class="furniture-gallery-modal" id="modal-gallery">
    <img
      class="big-image-sofa"
      src="../img/furniture-modal/big-image-sofa.jpg"
      alt="Sofa Oslo"
    />
    <img
      class="small-image-sofa"
      src="../img/furniture-modal/small-image-sofa(1).jpg"
      alt="Sofa Oslo"
    />
    <img
      class="small-image-sofa"
      src="../img/furniture-modal/small-image-sofa(2).jpg"
      alt="Sofa Oslo"
    />
  </div>

  <h3 id="furniture-name">Софа Oslo</h3>

  <p id="furniture-category">Дивани</p>

  <p id="furniture-price">9 999 грн</p>

  <div id="modal-rating">⭐⭐⭐⭐⭐</div>

  <p class="furniture-color-text">Колір</p>
  <div id="furniture-colors">
    <label class="color-option">
      <input type="checkbox" name="color" value="gray" />
      <span class="color-swatch gray"></span>
    </label>

    <label class="color-option">
      <input type="checkbox" name="color" value="beige" />
      <span class="color-swatch beige"></span>
    </label>

    <label class="color-option">
      <input type="checkbox" name="color" value="black" />
      <span class="color-swatch black"></span>
    </label>
  </div>

  <p id="furniture-description">
    Класичний диван з м'якими подушками та високою спинкою, ідеальний для
    сімейного відпочинку. Оббивка з якісної зносостійкої тканини.
  </p>

  <p id="furniture-size-text">
    Розміри: <span id="furniture-size">280x180x85</span>
  </p>

  <button id="modal-order-btn" type="submit">Перейти до замовлення</button>
</div>

<!-- <div class="furniture-modal hidden">
  <div class="furniture-modal-container">
    <button class="close-btn" id="modal-close-btn" type="button">
      <svg class="close-btn-icon" width="32" height="32">
        <use href="../img/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="furniture-gallery-modal" id="modal-gallery"> -->
<!-- через JS -->
<!-- </div>

    <h3 id="furniture-name"></h3>

    <p id="furniture-category"></p>

    <p id="furniture-price"></p>

    <div id="modal-rating"> -->
<!-- додається через JS -->
<!-- </div>

    <p class="furniture-color-text">Колір</p>
    <div id="furniture-colors"> -->
<!-- додається через JS -->
<!-- </div>

    <p id="furniture-description"></p>

    <p id="furniture-size-text">Розміри: <span id="furniture-size"></span></p>

    <button id="modal-order-btn" type="submit">Перейти до замовлення</button>
  </div>
</div> -->
