<!-- HEADER -->
<header class="header" id="header">
  <div class="container header__container">
    <!-- Лого -->
    <a href="./index.html" class="logo">
      <img class="logo-icon" src="/img/logo.svg" alt="Mebleria Logo" />
    </a>

    <div class="header__right">
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="#furniture-list">Наші меблі</a></li>
          <li><a href="#about">Про нас</a></li>
          <li><a href="#faq">Часті питання</a></li>
          <li><a href="#feedback">Відгуки</a></li>
        </ul>
      </nav>

      <!-- Кнопка -->
      <a class="header__btn" href="#furniture-list">До покупок</a>
    </div>

    <button type="button" class="burger">
      <svg class="icon_burger">
        <use href="img/sprite.svg#menu"></use>
      </svg>
      <svg class="icon_burger_two">
        <use href="img/sprite.svg#close"></use>
      </svg>
    </button>

    <div id="mobileMenu" class="modal-menu">
      <ul class="modal-menu__list">
        <li><a href="#furniture-list">Наші меблі</a></li>
        <li><a href="#about">Про нас</a></li>
        <li><a href="#popular">Популярне</a></li>
        <li><a href="#faq">Часті питання</a></li>
        <li><a href="#feedback">Відгуки</a></li>
      </ul>

      <div class="menu_footer">
        <a class="buy_button" href="#furniture-list">До покупок</a>
      </div>
    </div>
  </div>
</header>
<!-- Бургер -->

<!-- <script src="/js/header.js"></script> -->

<div class="overlay"></div>
