<!-- HEADER -->
<header class="header">
  <div class="container header__container">
    <!-- Лого -->
    <a href="/index.html" class="logo">
      <img class="logo-icon" src="/img/logo.svg" alt="Mebleria Logo" />
    </a>

    <div class="header__right">
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="#furniture-list">Наші меблі</a></li>
          <li><a href="#about">Про нас</a></li>
          <li><a href="#faq">Часті питання</a></li>
          <li><a href="#feedback">Відгуки</a></li>
        </ul>
      </nav>

      <!-- Кнопка -->
      <button type="button" class="header__btn">До покупок</button>
    </div>

    <!-- Бургер -->
    <button type="button" class="burger">
      <svg class="icon_burger">
        <use href="/img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>

<nav id="mobileMenu" class="modal-menu active">
  <div class="menu_header">
    <div class="logo">
      <a href="/index.html" class="logo">
        <img class="logo-icon" src="/img/logo.svg" alt="Mebleria Logo" />
      </a>
    </div>
    <button class="modal-menu__close" aria-label="Закрити меню">
      <svg class="icon_close">
        <use href="/img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
  <ul class="modal-menu__list">
    <li><a href="#furniture-list">Наші меблі</a></li>
    <li><a href="#about">Про нас</a></li>
    <li><a href="#faq">Часті питання</a></li>
    <li><a href="#feedback">Відгуки</a></li>
  </ul>
  <div class="menu_footer">
    <button type="button" class="buy_button">До покупок</button>
  </div>
</nav>
