.accordion {
    background: #ffffff;
    padding: 48px 20px;
}

.accordion-container {
    width: 335px;
    margin: 80px auto 0 auto;
}

.ac-title {
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    margin-bottom: 32px;
    color: #080C09;
}

.accordion-container .ac {
    border-top: none;
    border-bottom: 1px solid #D9D9D9;
    border-left: none;
    border-right: none;
    margin-bottom: 0px;
}

.accordion-container .ac:first-of-type {
    border-top: 1px solid #D9D9D9;
}

.ac-header {
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    margin-bottom: 32px;
    color: #080C09;

}

.ac-header button {
    background-color: white;
}

.accordion-container .ac .ac-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    cursor: pointer;

    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    color: #080C09;

    padding: 21.5px 0;
}

.accordion-container .ac .ac-trigger::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M21.724 11.057l-5.724 5.724-5.724-5.724-1.885 1.885 7.609 7.609 7.609-7.609-1.885-1.885z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M21.724 11.057l-5.724 5.724-5.724-5.724-1.885 1.885 7.609 7.609 7.609-7.609-1.885-1.885z'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
}
.accordion-container .ac.is-active>.ac-header .ac-trigger::after {
    content: "";
-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M8.391 19.057l1.885 1.885 5.724-5.724 5.724 5.724 1.885-1.885-7.609-7.609-7.609 7.609z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M8.391 19.057l1.885 1.885 5.724-5.724 5.724 5.724 1.885-1.885-7.609-7.609-7.609 7.609z'/%3E%3C/svg%3E");
}

.accordion-container .ac .ac-trigger:focus {
    color: black;
}

.ac-icon {
    transition: transform 0.3s ease;
}

.ac-text {
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
    color: #080C09;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .accordion {
        padding: 48px 32px;
    }

    .accordion-container {
        width: 769px;
    }

    .ac-header {
        padding: 21.5px 56px 21.5px 0;
    }
}


@media screen and (min-width: 1158px) {
    .accordion {
        padding: 80px 64px;
    }

    .accordion-container {
        width: 865px;
    }

    .ac-header {
        padding: 21.5px 56px 21.5px 0;
    }
}