.feedback {
  padding: 64px 0;
  /* width: 100%; */
}

.feedback-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}

.modal-furniture-rate {
  --star-background: #080c09;
}

.feedback-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 80px;
}

.js-star {
  margin-bottom: 24px;
}

.feedback-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.feedback-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

.feedback-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

#feedback-pagination {
  position: static;
  /* left: 0;
  bottom: 0; */
  transform: none;
  width: auto;
}

#feedback-pagination .swiper-pagination-bullet-active {
  background: #080c09;
}

#feedback-navigation {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.feedback-btns {
  display: flex;
  gap: 16px;
  align-items: center;
}

.feedback-button-prev,
.feedback-button-next {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 1px solid rgba(8, 12, 9, 0.15);
  padding: 12px;
  transition: opacity 250ms ease;
}

.feedback-button-prev:hover,
.feedback-button-next:hover,
.feedback-button-prev:focus,
.feedback-button-next:focus {
  cursor: pointer;
  background: #975052;
  fill: white;
}

.feedback-button-prev:active,
.feedback-button-next:active {
  background: #6b0609;
}

.feedback-button-prev.swiper-button-disabled,
.feedback-button-next.swiper-button-disabled {
  opacity: 0.3;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .feedback {
    padding: 32px 0;
  }
}

@media screen and (min-width: 1440px) {
  .feedback {
    padding: 64px 0;
  }
  .feedback-title {
    font-size: 48px;
  }
}
