/* ===== Overlay ===== */
.furniture-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000040;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  z-index: 9999;
  padding: 40px 15px;
}

/* ===== Container ===== */
.furniture-modal-container {
  max-width: 335px;
  padding: 64px 20px 44px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* top: 20px;*/
  gap: 24px;
  margin: auto;
}

/* ===== Close button ===== */
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.close-btn-icon {
  width: 32px; /* переконайся, що розмір визначений */
  height: 32px;
  fill: #333;
  transition: 0.3s;
  display: block;
}

/* ===== Gallery ===== */
.furniture-gallery-modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.big-image-sofa {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 295 / 297;
}

.small-images {
  display: flex;
  gap: 8px;
  /* width: 295px; ширина рівна великій картинці */
  justify-content: space-between;
}

.small-images img {
  width: calc((100% - 8px) / 2); /* дві картинки з gap */
  aspect-ratio: 139 / 197; /* співвідношення ширина/висота маленької картинки */
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

/* ===== Content ===== */
.content-container {
  display: flex;
  flex-direction: column;
}

.furniture-title {
  font-size: 32px;
  font-weight: 700;
}

.modal-furniture-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.modal-furniture-price {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
}

/* ===== Rating ===== */
.modal-furniture-rate {
  display: inline-block;
  /* font-size: 20px; */
  padding-bottom: 54px;
  position: relative;
  width: 96px;
  height: 15px;
}

.modal-furniture-rate::before {
  content: '★★★★★';
  color: #ddd;
  letter-spacing: 2px;
}

.modal-furniture-rate::after {
  content: '★★★★★';
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--rating-percent);
  overflow: hidden;
}

/* ===== Colors ===== */
.furniture-color-text {
  padding-bottom: 8px;
  font-weight: 500;
}

.colors-container {
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
}

.color-option input {
  display: none;
}

.color-swatch {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: 0.2s;
}

.color-option input:checked + .color-swatch {
  border: 3px solid #C7C3BB;
  transform: scale(1.1);
}

/* ===== Description ===== */
.modal-furniture-description {
  padding-bottom: 32px;
  line-height: 160%;
}

.modal-sizes {
  padding-bottom: 24px;
}

/* ===== Button ===== */
.order-button-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 100px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 295px;
  height: 46px;
  box-shadow:
    0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6b0609;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  border: none;
}

.order-button-modal:hover,
.order-button-modal:focus {
  opacity: 0.5;
}

/* ===== Responsive ===== */

@media screen and (min-width: 768px) {
  .furniture-modal-container {
    max-width: 704px;
    padding: 64px 32px 32px;
  }

  .modal-furniture-description {
    width: 421px;
  }

  .big-image-sofa {
    aspect-ratio: 640 / 297;
  }

  .small-images img {
    width: calc((100% - 16px) / 2); /* дві картинки з gap */
    aspect-ratio: 312 / 197;
  }
}


@media screen and (min-width: 1440px) {
  .furniture-modal-container {
    max-width: 1090px;
    padding: 64px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
  }

    .modal-furniture-description {
      width: 358px;
    }

  /* ліва колонка */
  .furniture-gallery-modal {
    flex-direction: column;
    width: 580px;
    flex-shrink: 0;
  }

  /* права колонка */
  .content-container {
    flex: 1;
  }

  /* велика картинка */
  .big-image-sofa {
    width: 100%;
    aspect-ratio: 580 / 308;
  }

  /* маленькі */
  .small-images {
    gap: 16px;
  }

  .small-images img {
    width: calc((100% - 16px) / 2);
    aspect-ratio: 282 / 197;
  }

  .furniture-title {
    font-size: 40px;
    font-weight: 700;
  }

  .modal-furniture-price {
    font-size: 32px;
    font-weight: 700;
  }
}
