.furniture-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.furniture-modal-container{
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    min-height: 1155px;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    padding: 64px 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 90vh;
    overflow-y: auto;
}

.close-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: transparent;
}

.furniture-gallery-modal{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.small-images{
    display: flex;
    gap: 16px;
}

.big-image-sofa{
    width: 295px;
    height: 297px;
    border-radius: 8px;
}

.small-img{
    border-radius: 8px;
    width: 139px;
    height: 197px;
    flex: 0 0 auto;
    max-width: 100%;
    object-fit: cover;
}

.furniture-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #080C09;
    margin-top: 24px;
}

.modal-furniture-category{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080C09;
}

.modal-furniture-price{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #080C09;
    margin-bottom: 24px;
}

.rating{
 display: flex;
 gap: 4px;
 margin-bottom: 24px;
}

.furniture-color-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080C09;
    margin-bottom: 8px;
}

.colors-container{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.color-option{
    position: relative;
    cursor: pointer;
}

.color-option input{
    display: none;
}

.color-swatch{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
}

.color-swatch.gray {
    background-color: #C7C3BB;
}

.color-swatch.beige {
    background-color: #C7AA80;
}

.color-swatch.black {
    background-color: #201A19;
}

.color-dot.active {
    box-shadow: none;
    outline: 4px solid #838584;
}

.modal-furniture-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080C09;
    width: 295px;
    margin-bottom: 32px;
}

.size-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080C09;
    margin-bottom: 24px;
}

.order-button-modal{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    width: 295px;
    height: 46px;
    border-radius: 100px;
    padding: 10px 24px;
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
    background-color: #6B0609;
    border: none;
}

.order-button-modal:hover,
.order-button-modal:focus{
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
    background-color: #6B0609;
    opacity: 0.5;
}

@media screen and (min-width: 768px){
    .furniture-modal-container {
        width: 704px;
        min-height: 1091px;
        padding: 64px 32px 32px;

    }

    .big-image-sofa {
        width: 640px;
    }

    .small-img {
        width: 312px;
    }

    .modal-furniture-description {
        width: 421px;
    }

    .order-button-modal {
        width: 310px;
    }
}

@media screen and (min-width: 1440px){
    .furniture-modal-container {
        width: 1090px;
        min-height: 649px;
        padding: 64px;
        display: flex;
        gap: 24px;
    }

    .furniture-gallery-modal {
        flex-wrap: nowrap;
        flex-direction: column;

    }

    .big-image-sofa {
        width: 580px;
        height: 308px;
    }

    .small-img {
        width: 282px;
    }

    .furniture-title {
        font-size: 40px;
        margin-top: 0px;
    }

    .modal-furniture-price {
        font-size: 32px;
    }

    .modal-furniture-description {
        width: 358px;
    }
}